/* Mottos */
.footer {
    background-color: #191A1D;
    height: 100%;
    width: 100%;
    padding-bottom: 100%;
    margin: 0;
}

.footer > .footer-bg {
    background-color: #36383F;
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer > .footer-bg > .footer-content {
    border: #ACACAC;
    border-style: inset;
    border-width: 1px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;

    
}

.footer > .footer-bg > .footer-content b {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
}